.basket-finish-image{
	 margin: 0 auto; 
	width: 79px;
	height: 79px;
	border-radius: 100px;
	border: solid 3px #1e8bc3;
}
.path--blue{
	position: relative;
	top:20px;
	left: 2px;
	width: 37px;
	height: 28px;

  }
.wrapper-basket-finish{
	text-align: center;
	width: 55%;
    margin: 0 auto; 
    min-width: 350px;
    padding-top: 65px;
}
.wrapper-basket-finish-info{
	margin: 0 auto;
  	width: 390px;
}

div.wrapper-basket-finish p:nth-child(2){
	padding-top: 29px;
	 font-size: 36px;
	 color: #212121;
}
div.wrapper-basket-finish p:nth-child(3){
	 font-size: 36px;
	 color: #212121;
	 padding-bottom: 40px;
}
div.wrapper-basket-finish p:nth-child(n+4){
	 color: #9fa3a7;
}
div.wrapper-basket-finish p:nth-child(6){
	 padding-bottom: 90px;
}

