.wrapper-section-new-bank{
	padding-bottom: 0px;
}
.wrapper-catalog-new-bank{
	padding: 45px 41px 23px 42px;
}
.catalog-new-bank__header{
	width: 100%;
	border-bottom: solid 1px #d8d8d8;
	padding-bottom: 18px;
}
.catalog-new-bank__desc{
	display: inline-block;
	width: 393px;
	padding-top: 23px;
	color: #79878e;
	font-size: 20px;
  	line-height: 1.3;

}
.catalog-new-bank__desc-details{
	padding-top: 14px;
}

.catalog-new-bank__desc-required{
	padding: 20px 0px 20px 0;
}
.catalog-new-bank__desc-prise{
	padding-bottom: 20px;
	   color: rgb(79, 86, 89);
}
.catalog-new-bank__desc-text{
	color: #4f5659;
}
.catalog-new-bank__to-bucket{
	padding: 30px 0px 0px 40px;
	vertical-align: top;
	display: inline-block;
	width: 290px;
	text-align: center;
}
.catalog-new-bank__to-bucket--image{
  width: 251px;
  height: 207px;
  padding-bottom: 19px;
}
.catalog-new-bank__list{
	line-height: 1.7;
	 font-size: 18px;
	 color: #4d5762;
	 padding: 27px 0 0 20px;
}
.catalog-new-bank__list >ul>li{
	padding-left: 7px;	
}
.catalog-new-bank__list-item{
	padding-bottom: 33px;
}