<div class="catalog-rent-safe__header">
	<h3 class="caption caption--h3">КАТАЛОГ - АРЕНДА СЕЙФОВ</h3>
</div>
<div>
	<table class="catalog-rent-safe__table">
		<tr class="catalog-rent-safe__table-string-head">
			<td class="catalog-rent-safe__table-column-head"></td>
			<td class="catalog-rent-safe__table-column-head">Наименование</td>
			<td class="catalog-rent-safe__table-column-head">Описание</td>
			<td class="catalog-rent-safe__table-column-head">Стоимость (тыс у.е.)</td>
		</tr>
		<tr>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--img"><img class="catalog-rent-safe__image" src="assets/img/img-table.jpg"></td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--name"><p>Учет сейфовых ячеек</p>
				<time class="time time--table">09 сентября 2016</time>
			</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--desc">Аналитический учет сейфовых ячеек банка по подразделениям банка.</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--cost">4.99</td>			
		</tr>
		<tr class="catalog-rent-safe__table-string-grey">
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--img"><img class="catalog-rent-safe__image" src="assets/img/img-table.jpg"></td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--name"><p>Учет сейфовых ячеек</p>
				<time class="time time--table">09 сентября 2016</time>
			</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--desc">Аналитический учет сейфовых ячеек банка по подразделениям банка.</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--cost">4.99</td>			
		</tr>
		<tr>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--img"><img src="assets/img/img-table.jpg"></td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--name"><p>Учет сейфовых ячеек</p>
				<time class="time time--table">09 сентября 2016</time>
			</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--desc">Аналитический учет сейфовых ячеек банка по подразделениям банка.</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--cost">4.99</td>			
		</tr>
		<tr class="catalog-rent-safe__table-string-grey">
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--img"><img src="assets/img/img-table.jpg"></td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--name"><p>Учет сейфовых ячеек</p>
				<time class="time time--table">09 сентября 2016</time>
			</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--desc">Аналитический учет сейфовых ячеек банка по подразделениям банка.</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--cost">4.99</td>			
		</tr>
		<tr>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--img"><img src="assets/img/img-table.jpg"></td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--name"><p>Учет сейфовых ячеек</p>
				<time class="time time--table">09 сентября 2016</time>
			</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--desc">Аналитический учет сейфовых ячеек банка по подразделениям банка.</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--cost">4.99</td>			
		</tr>
		<tr class="catalog-rent-safe__table-string-grey">
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--img"><img src="assets/img/img-table.jpg"></td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--name"><p>Учет сейфовых ячеек</p>
				<time class="time time--table">09 сентября 2016</time>
			</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--desc">Аналитический учет сейфовых ячеек банка по подразделениям банка.</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--cost">4.99</td>			
		</tr>
		<tr>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--img"><img src="assets/img/img-table.jpg"></td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--name"><p>Учет сейфовых ячеек</p>
				<time class="time time--table">09 сентября 2016</time>
			</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--desc">Аналитический учет сейфовых ячеек банка по подразделениям банка.</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--cost">4.99</td>			
		</tr>
		<tr class="catalog-rent-safe__table-string-grey">
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--img"><img src="assets/img/img-table.jpg"></td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--name"><p>Учет сейфовых ячеек</p>
				<time class="time time--table">09 сентября 2016</time>
			</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--desc">Аналитический учет сейфовых ячеек банка по подразделениям банка.</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--cost">4.99</td>			
		</tr>
		<tr>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--img"><img src="assets/img/img-table.jpg"></td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--name"><p>Учет сейфовых ячеек</p>
				<time class="time time--table">09 сентября 2016</time>
			</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--desc">Аналитический учет сейфовых ячеек банка по подразделениям банка.</td>
			<td class="catalog-rent-safe__table-column catalog-rent-safe__table-column--cost">4.99</td>			
		</tr>


	</table>
</div>