<div class="wrapper-catalog-new-bank">
				<div class="catalog-new-bank__header">
					<h3 class="caption caption--h3">НОВЫЙ ЦФТ-БАНК</h3>
				</div>

				<div class="catalog-new-bank__desc">
					<time class="time">09 сентября 2016</time>
					<div class="catalog-new-bank__desc-details">
						<p>Приложение лицензировано в 25 банках</p>
						<p>Тип Приложения: Базовое</p>
						<p>Разработчик: ЦФТ</p>
						<p>Код по каталогу: 1B365001</p>
					</div>
					<div class="catalog-new-bank__desc-required">
						<p><span class="catalog-new-bank__desc-text">Требования:</span> совместимо с v.14.1, ТЯ v.7.4.0.0 и выше, 
						при наличии лицензии на Проигрыватель форм в web</p>
					</div>
				</div>
				<div class="catalog-new-bank__to-bucket">
					<img class="catalog-new-bank__to-bucket--image" src="assets/img/shot-2.jpg">
					<a href="basket-first-step.html"><button class="button-size button-blue">В корзину</button></a>
				</div>

				<div class="catalog-new-bank__header">
					<h3 class="caption caption--h3">ОСНОВНЫЕ ФУНКЦИИ</h3>
				</div>
				<div class="catalog-new-bank__list">
				 <ul>
				 	<li class="catalog-new-bank__list-item">Выполнение операций по банковским продуктам, используемым клиентом, 
				 	и оформление новых продуктов банка непосредственно из Единого окна</li>
				 	<li class="catalog-new-bank__list-item">Возможность определения одного банковского продукта для отображения 
				 	в Едином окне как рекомендуемого (для формирования списка адресно рекомендуемых 
				    продуктов необходима лицензия на Приложение Управление целевым маркетингом)</li>
				 	<li>Начисление баллов операционным сотрудникам за выполнение операций по банковским 
				 	продуктам и отображение результатов в Едином окне (для использования гибкой настройки 
				 	условий начисления баллов необходима лицензия на Приложение Игрофикация)</li>
				 </ul>
				<div>
			</div>